@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-moove-dark text-gray-200 antialiased font-sans;
  }
}

/* Custom animated background */
.animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(to bottom right, #2a2a2a, #111111);
}

.wave {
  position: absolute;
  width: 200vw;
  height: 200vw;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0) 50%);
  border-radius: 40%;
  animation: moveWaves 20s infinite linear;
  opacity: 0.6;
}

.wave:nth-child(1) {
  top: -50%;
  left: -50%;
  animation-duration: 25s;
}

.wave:nth-child(2) {
  top: 0%;
  left: 0%;
  animation-duration: 30s;
  animation-direction: reverse;
}

@keyframes moveWaves {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}